  <h1>History of shipped boxes</h1>

  <div class="row">       
      <% @shipped_boxes.each do |box| %>                         
        <h3>Box Title: <%= box.theme_title %></h3>         
      <% end %>          
  </div>