  <h2>History of shipped boxes</h2>

  <div class="row">       
      <% @shipped_boxes.each do |box| %>                         
        <h1>Box Title: <%= box.theme_title %></h1>         
      <% end %>          
  </div>