  <h2>History of shipped boxes</h2>

  <div class="row">       
      <% @shipped_boxes.each do |box| %>                         
            title: <%= box.theme_title %>             
                       
      <% end %>          
  </div>