<h2 class="text-center">About Us</h2>

<p>A Subscription application where subscriber once a month could get certain amount of boxes with few items inside each box.</p> 
<p>A subscriber could cancel his subscription at any given time so he/she does not have to pay</p>
<p>The subscriber could also view the history of items that have been shipped</p>
